3. Job Application Tracker/data/credentials/gmail_token.json
3. Job Application Tracker/data/credentials/gmail_credentials.json
# Virtual environment
1. RAG/.venv/

# Environment variables
1. RAG/.env

# Jupyter checkpoints
1. RAG/.ipynb_checkpoints/

# ChromaDB local store
1. RAG/chroma_DB/

# Python cache
1. RAG/__pycache__/
*.pyc

# Data
# While we are using public data from Kaggle (see src/data_download.py), best practice to never commit data.
# This is better for data deletion policies, healthcare data (HIPAA), and more
1. RAG/data/1_source/
1. RAG/data/2_cleaned/
1. RAG/data/3_txt_KB/
1. RAG/data/vectorstore/
