langchain==0.2.14
langchain-community==0.2.12
langchain-openai==0.1.22

openai==1.40.6

chromadb==0.5.5

sentence-transformers==2.7.0
transformers==4.41.2
torch>=2.4.0

python-dotenv==1.0.1
jupyter==1.0.0